
// google fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruda:wght@400;500;600;700;800;900&display=swap");

/*------------------------ 
/* Common Style
 ------------------------*/
 body {
    color: $paragraph;
    font-size: 18px;
    font-family: $font-family-base;
    line-height: 1.9;
}


/*-----------------------
# selection colors
-------------------------*/

*::-moz-selection {
    background: $warning;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $warning;
    color: $white;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: $dark;
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:hover {
        text-decoration: none;
        color: #ff75b8;
    }
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.main-blog-content {
    ul {
       margin: 20px;
       
    }
    li {
        list-style-type: disc;
    }
}

p {
    font-family: $font-family-base;
    &:last-child {
        margin-bottom: 0;
    }
}

.form-control {
    &:focus {
        box-shadow: none;
    }
}

iframe {
    border: none;
}

// Button styles
button {
    outline: dotted 0px !important;
    &:focus {
        box-shadow: none;
    }
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    position: relative;
    z-index: 2;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}
.btn-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

@each $name, $value in $theme-colors {
    .btn-#{$name} {
        border-color: $btn-warning;
        background-color: $btn-warning;

        @if $name == warning {
            background: $btn-warning;
            border: 0px;
            color: $white;
            &:hover {
                background: $btn-warning-hover;
                border-color: $warning;
                color: $white;
            }
        } @else {
            color: $white;
        }
    }
}


.text-gradient {
    background: linear-gradient(to right, #ff75b8 0%, #736ae4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

// title section css
.section-title {
    @include max-screen(1199) {
        padding-bottom: 50px;
    }
    .icon {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 70px;
        justify-content: center;
        width: 70px;
        margin: 0 auto 15px;
    }
    .sub-title {
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
        font-size: 20px;
        background: linear-gradient(to right, #ff75b8 0%, #736ae4 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
        position: relative;
        &::after {
            content: "";
            border-radius: 50%;
            background-color: rgb(238, 243, 255);
            position: absolute;
            left: 0px;
            top: -20px;
            width: 64px;
            height: 64px;
            z-index: -1;
            @include min-screen(1200) {
                left: -20px;
            }
        }
    }

    .title {
        font-weight: 700;
        font-size: 55px;
        line-height: 1.3;
        margin-bottom: 5px;
        @include max-screen(768, 1199) {
            font-size: 45px;
        }
        @include max-screen(767) {
            font-size: 30px;
        }
    }
    &.primary {
        .icon {
            background: $white;
            box-shadow: 0px 0px 55px 0px rgba(2, 18, 106, 0.1);
        }
        .title {
            color: $primary;
        }
    }

    .subtitle {
        line-height: 1.5em;
        font-size: 1.25em;
    }

    &.process {
        .title {
            color: $white;
        }
    }

    .hr-secondary {
        width: 30px;
        height: 5px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        background-color: #ff75b8;
        &::before,
        &::after {
            width: 15px;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            background: #e6e9f5;
            border-radius: 5px;
        }
        &::before {
            left: -30px;
        }

        &::after {
            right: -30px;
        }
    }
    .hr-primary {
        width: 30px;
        height: 5px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 28px;
        position: relative;
        background-color: #ff75b8;
        &::before,
        &::after {
            width: 15px;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            background: $primary;
            border-radius: 5px;
        }
        &::before {
            left: -25px;
        }
        &::after {
            right: -25px;
        }
    }
}

/* .btn {
    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active,
    &:focus {
        color: $white;
    }
} */

.container {
    max-width: 1170px;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-warning {
    color: $secondary !important;
}

// scroll to top button
.scroll-top {
    bottom: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: $white;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    background:#ff75b8;
    &:hover {
        background: #ff9bcb;
    }
}

// swiper slider navigation button style css
.swiper-button-prev,
.swiper-button-next {
    color: $warning;
    border-radius: 50%;
    font-size: 20px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: solid 2px transparent;
    background :linear-gradient(101deg, #ff75b8 0%, #736ae4 100%);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px #f7faff inset;
    z-index: 1;
    &:hover {
        border-color: transparent;
        box-shadow: none;
        color: $white;
    }
}

@media only screen and (max-width: 991px){
    .text-center-sm {
        text-align: center;
    }   
}

