.timeline-area {
	padding: 80px 0 80px 0;
}
.roadmap-outer {
	overflow: hidden;
	position: relative;
	.roadmap {
		position: relative;
		margin-top: -63px;
		&:first-child {
			margin-top: 0;
		}
		&:after {
			content: "";
			display: block;
			width: 100%;
			clear: both;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			clear: both;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
		}
		&:nth-child(2n) {
			.roadmap-icon {
				transform: rotate(-135deg);
			}
			.year {
				transform: rotate(135deg);
				color: #736ae4;
			}
			.roadmap-content {
				float: left;
				&:before {
					left: auto;
					right: -20%;
				}
			}
		}
	}
	.roadmap-icon {
		width: 210px;
		height: 210px;
		border-radius: 50%;
		border: 25px solid transparent;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		transform: rotate(45deg);
	}
	.year {
		display: block;
		width: 110px;
		height: 110px;
		line-height: 110px;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0 10px 40px rgba(165, 165, 165, 0.2);
		margin: auto;
		font-size: 24px;
		font-weight: 600;
		color: #736ae4;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transform: rotate(-45deg);
	}
	.roadmap-content {
		width: 35%;
		float: right;
		padding: 20px 20px;
		margin: 50px 0 51px;
		z-index: 1;
		position: relative;
		border-radius: 5px;
		&:before {
			content: "";
			width: 20%;
			height: 2px;
			position: absolute;
			top: 50%;
			left: -20%;
			z-index: -1;
			transform: translateY(-50%);
		}
	}
	h3 {
		color: #736ae4;
		font-size: 20px;
		margin-bottom: 17px;
	}
	p {
		color: #767988;
		margin: 0;
		font-size: 15px;
	}
}
.timeline {
	position: relative;
	.roadmap-outer {
		&:before {
			position: absolute;
			left: 50%;
			width: 2px;
			height: 100%;
			margin-left: -1px;
			content: "";
			background: rgba(39, 37, 37, 0.07);
		}
		.roadmap-icon {
			border-top-color: transparent;
			border-right-color: transparent;
		}
		.roadmap {
			&:nth-child(2n) {
				.roadmap-icon {
					border-top-color: transparent;
					border-right-color: transparent;
				}
				.roadmap-content {
					&:before {
						background-color: rgba(39, 37, 37, 0.07);
					}
				}
			}
		}
		.roadmap-content {
			box-shadow: 0 10px 40px rgb(165 165 165 / 20%);
			&:before {
				background-color: rgba(39, 37, 37, 0.07);
			}
		}
	}
}
.icon-area {
	padding: 80px 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.roadmap-outer {
		.roadmap {
			margin-top: -85px;
			&:nth-child(2n) {
				.roadmap-content {
					&:before {
						right: -15%;
					}
				}
			}
		}
		.roadmap-content {
			&:before {
				left: -15%;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.warp {
		h1 {
			font-size: 30px;
		}
	}
	.roadmap-outer {
		.roadmap {
			margin: 0 0 20px;
			margin-top: 0;
			overflow: hidden;
			&:first-child {
				margin: 0 0 20px;
			}
			&:before {
				box-shadow: none;
			}
			&:nth-child(2n) {
				&:before {
					box-shadow: none;
				}
				.roadmap-icon {
					margin-top: -30px;
					margin-bottom: 20px;
					position: relative;
					transform: rotate(135deg);
				}
				.year {
					transform: rotate(-135deg);
				}
				.roadmap-content {
					width: 100%;
					float: none;
					border-radius: 0 0 20px 20px;
					text-align: center;
					padding: 25px 20px;
					margin: 0 auto;
					&:before {
						width: 15px;
						height: 25px;
						position: absolute;
						top: -22px;
						left: 50%;
						z-index: -1;
						transform: translate(-50%, 0);
					}
				}
			}
		}
		.roadmap-icon {
			margin-top: -30px;
			margin-bottom: 20px;
			position: relative;
			transform: rotate(135deg);
		}
		.year {
			transform: rotate(-135deg);
		}
		.roadmap-content {
			width: 100%;
			float: none;
			border-radius: 0 0 20px 20px;
			text-align: center;
			padding: 25px 20px;
			margin: 0 auto;
			&:before {
				width: 15px;
				height: 25px;
				position: absolute;
				top: -22px;
				left: 50%;
				z-index: -1;
				transform: translate(-50%, 0);
			}
		}
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.roadmap-outer {
		.roadmap {
			margin: 0 0 20px;
			margin-top: 0;
			overflow: hidden;
			&:first-child {
				margin: 0 0 20px;
			}
			&:before {
				box-shadow: none;
			}
			&:nth-child(2n) {
				&:before {
					box-shadow: none;
				}
				.roadmap-icon {
					margin-top: -30px;
					margin-bottom: 20px;
					position: relative;
					transform: rotate(135deg);
				}
				.year {
					transform: rotate(-135deg);
				}
				.roadmap-content {
					width: 100%;
					float: none;
					border-radius: 0 0 20px 20px;
					text-align: center;
					padding: 25px 20px;
					margin: 0 auto;
					&:before {
						width: 15px;
						height: 25px;
						position: absolute;
						top: -22px;
						left: 50%;
						z-index: -1;
						transform: translate(-50%, 0);
					}
				}
			}
		}
		.roadmap-icon {
			margin-top: -30px;
			margin-bottom: 20px;
			position: relative;
			transform: rotate(135deg);
		}
		.year {
			transform: rotate(-135deg);
		}
		.roadmap-content {
			width: 100%;
			float: none;
			border-radius: 0 0 20px 20px;
			text-align: center;
			padding: 25px 20px;
			margin: 0 auto;
			&:before {
				width: 15px;
				height: 25px;
				position: absolute;
				top: -22px;
				left: 50%;
				z-index: -1;
				transform: translate(-50%, 0);
			}
		}
	}
}
